extends layout

block content
    h1= title
    p Welcome to my test

    // Wrapper
    #wrapper

        // Stock Table
        h2 Stock Table
        #stockList
            table
                thead
                    th Date
                    th Spy
                    th IBM
                    th AAPL
                    th JPM
                tbody
        // /Stock Table

    // /WRAPPER